<body>
 <div>
    <h1>Create Topic</h1>
    <div id="screenBox">
      <div>
        <label for="topicName">Topic Name:</label>
        <input name="topicName">
      </div>
      <div>
        <label for="private-slider">Private</label>
        <mat-slide-toggle [(ngModel)]="isPrivate" name="private-slider"></mat-slide-toggle>
      </div>
      <div>
        <p>DatePicker system (To be implemented)</p>
      </div>
      <div>
        <ng-form>
          <p>Add options:</p>
          <li *ngFor="let key of voteOptionKeys">
            <input [(ngModel)]="voteOptions.key" value="{{voteOptions[key]}}">
            <button (click)="deleteOption(key)" id="removeButton">X</button>
          </li>
          <button (click)="addOption()" id="loginBox">+</button>
        </ng-form>
      </div>
      <div id="loginBox">
        <button (click)="addOption()">Send Topic</button>
      </div>
    </div>
  </div>
</body>
