<body>
    <h1>Create Poll</h1>
    <div id="screenBox">
        <label for="topicChanger">Selected Topic</label>
        <select id="topicChanger" [(ngModel)]="selectedTopic">
            <option *ngFor="let topic of topics" [ngValue]="topic">{{ topic.name }}</option>
        </select>

        <a href="/create-topic"><p>{{confusedMessage}}</p></a>

        <div>
            <label for="private-slider">Private</label>
            <mat-slide-toggle [(ngModel)]="isPrivate" name="private-slider"></mat-slide-toggle>
            {{isPrivate}}
          </div>
        <div>
          <div>
            <p>Start Date:</p>
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input [(ngModel)]="startDate" matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <p>End Date:</p>
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input [(ngModel)]="endDate" matInput [matDatepicker]="picker2">
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <button (click)="createPoll()">Create Poll</button>
    </div>
</body>
