<body>
  <h1>My Topics</h1>
  <div id="screenBox">
    <p>{{confusedMessage}}</p>
    <ul *ngFor="let topic of topics">
      <h2>{{topic.name}}</h2>
      <button (click)="deleteTopic(topic.id)">DELETE TOPIC</button>
      <li *ngFor="let poll of topic.polls">
        <div>
          RoomCode:  {{poll.roomCode}}
        </div>
        <div>
          Start Time:  {{getDate(poll.startDate)}}
        </div>
        <div>
          End Time:  {{getDate(poll.endDate)}}
        </div>
        <div>
          <button (click)="getIotToken(poll.id)">Copy IoT Token.</button>
          <button (click)="toPoll(poll.roomCode)">Go to poll</button>
          <button (click)="deletePoll(poll.id)">DELETE POLL</button>
        </div>
        <br>
      </li>
    </ul>
  </div>
</body>
