<body>
 <div>
    <h1> Welcome to FeedApp! </h1>
      <div id="screenBox">
        <!-- Connect to room -->
        <div>
            <label for="roomCode">RoomCode: </label>
            <p class = errorMessage>{{errorMessage}}</p>
            <input type="text" name="roomCode" [(ngModel)]="roomCode" #username="ngModel" required/>
            <button type = button (click)='connectToRoom()'> Join room </button>
        </div>

        <!-- Links to other pages -->
        <div id="loginBox">
          <button type = button (click)="goToProfile()"> Profile </button>
        </div>

        <div id="loginBox">
          <button type = button (click)="goToCreateTopic()" > Create Topic </button>
        </div>
      </div>
    </div>
</body>
