<body>
  <div>
  <h1> Welcome to FeedApp! </h1>
    <div id="screenBox">
    <!-- Connect to room -->
    <div>
        <label for="roomCode">RoomCode: </label>
        <p class = errorMessage>{{errorMessage}}</p>
        <input type="text" name="roomCode" [(ngModel)]="roomCode" #username="ngModel" required/>
        <button type = button (click)='connectToRoom()'> Join room </button>
    </div>

    <!-- Links to other pages -->
    <div id="loginBox">
        <a [routerLink]="['/login']">Login</a>

        <a [routerLink]="['/register']">Register</a>
    </div>
    </div>
  </div>
</body>
