<body>
  <h1>Register</h1>
  <form name="form" (ngSubmit)="register()" #f="ngForm" id="screenBox">
    <p class="errorMessage">{{errorMessage}}</p>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
    </div>

    <div>
      <label for="email">Email</label>
      <input type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required />
    </div>

    <div>
      <label for="passord">Password</label>
      <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
    </div>

    <div>
      <button>Register</button>
    </div>
  </form>
</body>
